.btnMint {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(9, 4, 89) 0%,
    rgba(39, 9, 121, 1) 37%,
    rgb(1, 93, 223) 100%
  );
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btnMint:before {
  content: "";
  background: linear-gradient(
    45deg,
    #003cff,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.btnMint:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 20px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.inputMint {
  padding: 0.6em 2em;
  border: black;
  outline: none;
  width: 130px;
  height: 40px;
  margin-left: 20px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 20px;
  user-select: none;
  -webkit-user-select: none;
  background: linear-gradient(
    45deg,
    #000000,
    rgb(0, 0, 0),
    #10d310,
    #0f8d39,
    #259784,
    #770fbd,
    #064fbd,
    #000000,
    #000000
  );
  background-size: 400%;
  animation: animacionInput 10s linear infinite;
}

@keyframes animacionInput {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}
