.container {
  padding: 0rem;
  background-color: rgb(24, 23, 23);
}
.Link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.5rem;
}
.Link:hover {
  scale: 1.1;
  color: rgb(255, 255, 255);
  text-decoration: underline;
}
.link:active {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}
.main {
  color: white;
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.divM {
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 25px;
  background: rgba(13, 118, 252, 1);
  margin: 27px;
}
.divM:hover {
  scale: 1.1;
}
.divM a {
  font-size: 13px;
  font-weight: 500;

  text-decoration: none;
}
.navbar {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-items: center;
}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  color: #ffffff;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #ffffff;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  color: #ffffff;
  margin: 3rem 0;
  line-height: 1;
  font-size: 2.5rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 0 0 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 350px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0d76fc;
  border-color: #0d76fc;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
}

.card p {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
